nav{
   
    height: 75px;
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.menu1{
    
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    width: 100%;
    color: white;


}
.menu2{
    
    background-color: mediumblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    width: 100%;
    color: white;


}
.menu3{
    
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    width: 100%;
    color: black;


}

input{
    height: 35px;
    width: 220px;
}
button{
    background-color: black;
    color: gray;
    border: 1px solid whitesmoke;
    height: 35px;
    width: 100px;
}