
h1{
    color: darkgoldenrod;
    background-color: rgb(240,40,50);
}
div{
    display: flex;
}
body{
    background-color: blanchedalmond;
background-color: rgba(102, 159, 0, );
}
h3{
    flood-color: aqua;
}
