nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logoblock{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}
.menublock{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 75%;
}
.logoblock>img{
    height: 75px;
    width: auto;
}
